.DS_Store
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/components/copy.vue
src/components/Hello.vue
src/AppOrigin.vue
src/mainOrigin.js

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
